body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: monospace;
    font-size: 14px;
    background-color: #000000;
    color: #ffffff;
    background-image: url('../img/Background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
