@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Workbench', sans-serif;
    font-size: 14px;
    background-color: #000000;
    color: #ffffff;
}

img {
    position: relative;
    height: 60vh;
    width: 1540vh;
}

.presentation,
.login {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.presentation {
    top: 10%;
}

.home {
    top: 30%;
}

.transport {
    border: 30px solid #ffffff; /* Altere a cor da borda para ser visível contra o fundo preto */

}
